@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sidebar {
    position: fixed;
    background-color: lightgrey;
    height: 100vh;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    transition: transform 0.3s ease-in;
}

.sidebarGo {
    transform: translate(-100%, 0);
    position: absolute;
}

.bar {
    position: absolute;
    font-size: 1.5rem;
    left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.cross {
    position: absolute;
    font-size: 1.5rem;
    left: 190px;
    margin-top: 10px;
    cursor: pointer;
}


.content {
    background-color: lightsalmon;
    width: 100vw;

}


.container {
    display: flex;
    flex-direction: row;
    font-weight: bolder;

}

.sidebar nav {
    padding: 10px;
    font-size: 27px;
    width: 15vw;
}


.sidebar nav ul li {
    padding: 27px 0px;
    list-style: none;
}

.sidebar nav ul li a:hover {
    background-color: white;
    color: black;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.info-container {

    color: black;
    width: 80vw;
    height: 85vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.mypic {
    height: 80vh;
    position: absolute;
    right: 200px;
}

.mypic img {
    height: 80vh;
}

.random-img {
    position: absolute;
    left: 300px;
    top: 420px;
}

.random-img img {
    height: 200px;
}

.myinfo {
    background-color: white;
    padding: 20px;
    position: absolute;
    left: 370px;
    width: 28vw;
    z-index: 10;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin: 16px 0;
}

.btn {
    padding: 6px 13px;
    border-radius: 10px;
    background-color: rgb(255, 94, 36);
    color: white;
    border: 2px solid rgb(255, 94, 36);
    margin: 0px 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.hello {
    font-size: 40px;
    
    margin: 5px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.about {
    font-size: 20px;
    margin: 5px;
}

.quote {
    margin: 5px;
}

.btn:hover {
    background-color: white;
    color: rgb(255, 94, 36);
}




.form-container {
    width: 80vw;
    height: 80vh;
    background-color: lightsalmon;
    margin: 55px auto;
    padding: 27px 0px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
}

.form-btn {
    display: inline-block;
    width: 13vw;
    margin: 10px auto;
    padding: 6px 13px;
    border-radius: 10px;
    background-color: rgb(255, 94, 36);
    color: white;
    border: 2px solid rgb(255, 94, 36);

    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

input,
textarea {
    margin: 8px 0px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    font-size: 1.1rem;
}

#about-container {
    background-color: white;
    float: right;
    height: 85vh;
    width: 85vw;
}

.about-me {
    background-color: lightsalmon;
    height: 80vh;
    width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-card {
    background-color: white;
    height: 30vh;
    width: 30vw;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    padding: 12px;
    position: absolute;
    left: 240px;
    top: 700px;
    border-radius: 10px;
}

.info-card h1 {
    margin: 7px;
    padding: 7px;
}

.info-card p {
    margin: 7px;
    padding: 7px;
    font-size: 1.1rem;
}

.project-card {
    background-color: white;
    float: right;
    height: 35vh;
    width: 30vw;
    margin: 12px;
    padding: 12px;
    text-align: center;
    position: absolute;
    right: 40px;
    top: 920px;
    border-radius: 10px;
}

.project-card ul {
    width: 25vw;
    margin: auto;
    font-size: 1.1rem;
    list-style: none;
}


.project-card ul li {
    margin: 2px;
    padding: 4px;
    font-size: 1.1rem;
}

.project-card ul li a {
    color: black;
}

.project-card h1 {
    margin: 5px;
    padding: 5px;
}

.random img {
    height: 300px;
    border-radius: 10px;
}